/* HEADER*/

header {
    padding: 30px 0;
    width: 100%;
    background: #f3f3f3;
}
header .logo {
    text-align: center;
    margin-bottom: 20px;
}

header .logo p , h1 {
    color: #000000;
}

.dark_text{
    color: #9b9b9b !important;
}

.dark{
    background: #202124;
}

header #content-mode{
    display: flex;
    justify-content: center;

}

#mode{
    height: 30px;
    width: 50px;    
}

.form-check-input:checked {
    background-color: #202124;
    border-color: #000000;
}

.form-check-input:focus {
    border-color: #272829;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(46 46 46 / 25%);
}

header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header .content-search-bar{
    display: flex;
    justify-content: center;
}

header .search-bar{
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    padding:  0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 20px;
}

.dark_searchInput{
    background: #2a2a2a !important;
    color: #ffffff;
}

header .categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

header .categories a {
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

header .categories a.active {
    color: black;
}

header .categories a.active_dark {
    color: rgb(255, 255, 255);
}

/*grid content*/

.grid{
    overflow: auto;
    overflow-x: hidden;
    min-height: 59vh;
}

.item{
    display: flex;
    justify-content: center;
}

img{
    height: 190px;
    width: 190px;
    border-radius: 10px !important;
    margin-bottom: 15px;
}

@media (max-width: 660px) {
    img{
        height: 150px;
        width: 150px ;
    }
}

@media (max-width: 575px) {
    img{
        height: 350px;
        width: 350px ;
    }
}

@media (max-width: 390px) {
    img{
        height: 300px;
        width: 300px ;
    }
}


