<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba_bolsiyo</title>
  </head>
  
  <body id="body_app">
    <router-outlet></router-outlet>
  </body>
  <footer>
    <ul class="contact">
      <li>
        <a style="color:#7b7c7d;" href="https://github.com/jhonatanBrr"><i class="fa-brands fa-github"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/jhonatan-berrios-olave-86b499210/"><i class="fa-brands fa-linkedin"></i></a>
      </li>
    </ul>
    <div style="width: 100%; text-align: center;">
      ❮❯ by jhonatan 2022
    </div>
  </footer>

</html>