<section class="overlay" >
    <div class="card-img">
        <img class="preview-img" [src]="imageData?.image?.webformatURL">
        <div class="info">
            <div class="tags">
                <div  class="tag" *ngFor="let tag of imageData?.tags">
                    {{tag}}
                </div>
            </div>
            <div class="items_info">
                <i class="fa-solid fa-thumbs-up fa-xl"></i>
                <p>{{imageData?.image?.likes ?? '0'}}</p>
            </div>
            <div class="items_info">
                <i class="fa-solid fa-eye fa-xl"></i>
                <p>{{imageData?.image?.views ?? '0'}}</p>
            </div>
            <div class="items_info">
                <a href="{{imageData?.image?.pageURL}}">Official website</a>
            </div>
        </div>
        <div class="actions">
            <button (click)="previewClose()" type="button" class="btn btn-danger">Cerrar</button>
        </div>
    </div>
</section>
